<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Caetane-se</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">Caetane-se</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/about"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/works">Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gallery">Photo Gallery</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1 class="text-center text-secondary">Discography</h1>
    <br />
    <div class="row">
      <img
        class="col-3"
        src="./images/original_artista_10_disco_40.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_41.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_42.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_43.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_44.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_45.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_46.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_48.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_49.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_50.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_51.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_52.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_53.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_54.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_55.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_56.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_57.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_58.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_59.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_60.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_61.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_62.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_63.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_64.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_65.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_66.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_67.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_68.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_69.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_70.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_71.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_72.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_73.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_74.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_75.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_78.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_79-150x150.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_80.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_81.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_82.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_85.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_86.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_87.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_88-150x150.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_89-150x150.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_90-150x150.jpg"
        alt="caetano veloso disco"
      />
      <img
        class="col-3"
        src="./images/original_artista_10_disco_91.jpg"
        alt="caetano veloso disco"
      />
    </div>
  </body>
</html>
